# Swap files
*.sw*

# Backup files
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac
.DS_Store
._*              

# Build and Environments
.condaenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
build
dist
*.egg-info

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode

# PyCharm
.idea

# Hypothesis
.hypothesis

# Logs and checkpoints
# logs/          # 不忽略 logs/，以便保留 .out .err 等
# lightning_logs/
# 仅忽略 2025-03-01 之前的日期文件夹，保留 0301 及之后的 log
logs/202[0-4]-*/
logs/2025-0[12]-*/
models/          # 忽略 checkpoint 目录
*.ckpt           # 忽略所有 .ckpt 文件（大体积不同步）
logs/**/checkpoints/
!logs/2026-03-06/22-56-37-best_dropout0_40epoch/job0_/checkpoints/
logs/2026-03-06/22-56-37-best_dropout0_40epoch/job0_/checkpoints/*.ckpt
!logs/2026-03-06/22-56-37-best_dropout0_40epoch/job0_/checkpoints/epoch34-step2800.ckpt
!logs/2026-03-07/00-02-13_best_0dropout_100epoch/job0_/checkpoints/
logs/2026-03-07/00-02-13_best_0dropout_100epoch/job0_/checkpoints/*.ckpt
!logs/2026-03-07/00-02-13_best_0dropout_100epoch/job0_/checkpoints/epoch87-step7040.ckpt
!logs/2026-03-07/01-15-00-best-0.5dropout-40epoch/job0_/checkpoints/
logs/2026-03-07/01-15-00-best-0.5dropout-40epoch/job0_/checkpoints/*.ckpt
!logs/2026-03-07/01-15-00-best-0.5dropout-40epoch/job0_/checkpoints/epoch=31-step=2560.ckpt
!logs/2026-03-07/01-31-16-best-0.5dropout-120epoch/job0_/checkpoints/
logs/2026-03-07/01-31-16-best-0.5dropout-120epoch/job0_/checkpoints/*.ckpt
!logs/2026-03-07/01-31-16-best-0.5dropout-120epoch/job0_/checkpoints/epoch117-step9440.ckpt

# Data
data
bids_data
*.tar.gz

# LM
wikitext-103-raw*
26W_ECE147_247_FinalProject.pdf
